In [73]:
import torch
import yaml
import os
import pandas as pd
from img_preprocessing import prepare_photo
from PIL import Image
from pathlib import Path
from model import Model
from utils import AttrDict,CTCLabelConverter,AttnLabelConverter
path_to_conf = "/home/research/NapoleonPractice/easy_ocr/configs/test_configs/cyrillic_config.yaml"
device = "cuda" if torch.cuda.is_available() else "cpu"

In [74]:
df = pd.read_csv("/home/research/NapoleonPractice/easy_ocr/test/results/test_cyrillic_g2_8000_Adadelta_with_GradScaler.csv")
df.sample(n=5)

               filename  words  preds
16815  image_717163.jpg   8099   8099
9035   image_186933.jpg   4499   4499
18278  image_268989.jpg   7700   7700
3064   image_225433.jpg  14990  14990
14284  image_199753.jpg  18699  18699

In [75]:
failed_photo = df[df["words"] != df["preds"]]
truth_photo = df[df["words"] == df["preds"]]

In [77]:
import shutil
source = Path("../../data/val/images")
target = Path("./results/test_cyrillic_g2_8000_Adadelta_with_GradScaler_failed_photo")
target.mkdir(exist_ok=True)
for _,row in failed_photo.iterrows():
    shutil.copy(source/row["filename"],target/row["filename"])

In [85]:
failed_photo

                    filename  words  preds
68          image_516979.jpg  16390  16300
162         image_157382.jpg  14399  14389
187         image_304479.jpg   4422   4479
236         image_385057.jpg  29999  29990
241          image_76820.jpg  14169  14159
...                      ...    ...    ...
19477       image_323532.jpg  12799  12499
19486  2500_image_386479.jpg   2500    250
19564        image_89104.jpg   2469   2489
19613  9900_image_272105.jpg   9900   9990
19626        image_35007.jpg  36999  36900

[549 rows x 3 columns]